<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baby.dao.repayment.RepaymentMapper">

    <select id="getRepaymentList" resultType="com.baby.pojo.Repayment">
          SELECT
          id,
          borrow_id as borrowId,
          borrow_user_id as borrowUserId,
          borrow_title as borrowTitle,
          deadline as deadline,
          repayment_time as repaymentTime,
          total_amount as totalAmount,
          principal as principal,
          interest as interest,
          period as period,
          state as state,
          borrow_type as borrowType,
          repayment_type as repaymentType,
          create_time as createTime FROM t_repayment WHERE borrow_user_id = #{borrowUserId}
    </select>

      <select id="getByBorrowId" resultType="com.baby.pojo.Repayment">
            SELECT
          borrow_id as borrowId,
          borrow_user_id as borrowUserId,
          borrow_title as borrowTitle,
          deadline as deadline,
          repayment_time as repaymentTime,
          total_amount as totalAmount,
          principal as principal,
          interest as interest,
          period as period,
          state as state,
          borrow_type as borrowType,
          repayment_type as repaymentType,
          create_time as createTime
          FROM t_repayment
          <trim prefix="where" prefixOverrides="and | or">
                <if test="borrowId !=null and borrowId!=''">
                      borrow_id=#{borrowId}
                </if>
          </trim>
      </select>

        <select id="RunningWaterTitle" resultType="com.baby.pojo.Repayment">
            SELECT borrow_title as borrowTitle,
            total_amount as totalAmount,
            state as state
            FROM t_repayment WHERE id = #{id}
        </select>

        <select id="BorrowerInformation" resultType="com.baby.pojo.RepaymentDetail">
            SELECT bid_user_id as bidUserId,
            total_amount as totalAmount,
            borrow_title as borrowTitle,
            principal,
            interest,
            period FROM t_repayment_detail WHERE repayment_id = #{id}
        </select>

        <select id="AllRepayments" resultType="com.baby.pojo.Repayment">
            SELECT
          id,
          borrow_id as borrowId,
          borrow_user_id as borrowUserId,
          borrow_title as borrowTitle,
          deadline as deadline,
          repayment_time as repaymentTime,
          total_amount as totalAmount,
          principal as principal,
          interest as interest,
          period as period,
          state as state,
          borrow_type as borrowType,
          repayment_type as repaymentType,
          create_time as createTime FROM t_repayment
        </select>

        <update id="RepaymentStatus">
            UPDATE t_repayment SET state = #{state} WHERE id = #{id}
        </update>


    <insert id="insertRepayment" parameterType="com.baby.pojo.Repayment">
        insert into t_repayment(id, borrow_id, borrow_user_id, borrow_title, deadline, repayment_time, total_amount, principal, interest, period, state, borrow_type, repayment_type,create_time)
        values (#{id},#{borrowId},#{borrowUserId},#{borrowTitle},#{deadline},#{repaymentTime},#{totalAmount},#{principal},#{interest},#{period},#{state},#{borrowType},#{repaymentType},#{createTime})
    </insert>
</mapper>