<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.dao.bid.BidMapper">
    <select id="getByBorrowId" resultType="com.baby.pojo.Bid" parameterType="com.baby.pojo.Bid">
        SELECT
        id as id,
        borrow_id as borrowId,
        borrow_title as borrowTitle,
        bid_amount as bidAmount,
        bid_interest as bidInterest,
        year_rate as yearRate,
        borrow_state as borrowState,
        bid_user_id as bidUserId,
        bid_username as bidUsername,
        bid_time as bidTime,
        create_time as createTime
        FROM t_bid
        <trim prefix="where" prefixOverrides="and | or">
            <if test="borrowId!=null and borrowId!=''">
                borrow_id=#{borrowId}
            </if>
        </trim>
    </select>
</mapper>