<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.dao.bid.BidMapper">
    <!--根据borrowId查询借款信息-->
    <select id="getByBorrowId" resultType="com.baby.pojo.Bid" parameterType="com.baby.pojo.Bid">
        SELECT
        id as id,
        borrow_id as borrowId,
        borrow_title as borrowTitle,
        bid_amount as bidAmount,
        bid_interest as bidInterest,
        year_rate as yearRate,
        borrow_state as borrowState,
        bid_user_id as bidUserId,
        bid_username as bidUsername,
        bid_time as bidTime,
        create_time as createTime
        FROM t_bid
        <trim prefix="where" prefixOverrides="and | or">
            <if test="borrowId!=null and borrowId!=''">
                borrow_id=#{borrowId}
            </if>
        </trim>
    </select>
    <!--增加-->
    <insert id="insertBid" parameterType="com.baby.pojo.Bid">
        INSERT INTO t_bid(id, borrow_id, borrow_title, bid_amount, bid_interest, year_rate, borrow_state, bid_user_id, bid_username, bid_time)
        VALUES(#{id},#{borrowId},#{borrowTitle},#{bidAmount},#{bidInterest},#{yearRate},#{borrowState},#{bidUserId},#{bidUsername},#{bidTime})
    </insert>
    <!--根据Id查询-->
    <select id="getBidById" resultType="com.baby.pojo.Bid">
        SELECT
        id as id,
        borrow_id as borrowId,
        borrow_title as borrowTitle,
        bid_amount as bidAmount,
        bid_interest as bidInterest,
        year_rate as yearRate,
        borrow_state as borrowState,
        bid_user_id as bidUserId,
        bid_username as bidUsername,
        bid_time as bidTime,
        create_time as createTime
        FROM t_bid
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id!=null and id!=''">
                id=#{id}
            </if>
        </trim>
    </select>

    <!--修改-->
    <update id="updateBid" parameterType="com.baby.pojo.Bid">
        UPDATE t_bid
        <trim prefix="SET" suffixOverrides="," suffix=" WHERE id = #{id}">
            <if test="borrowId != null and borrowId != ''">borrow_id = #{borrowId},</if>
            <if test="borrowTitle != null and borrowTitle != ''">borrow_title = #{borrowTitle},</if>
            <if test="bidAmount != null and bidAmount != ''">bid_amount = #{bidAmount},</if>
            <if test="bidInterest != null and bidInterest != ''">bid_interest = #{bidInterest},</if>
            <if test="yearRate != null and yearRate != ''">year_rate = #{yearRate},</if>
            <if test="borrowState != null and borrowState != ''">borrow_state = #{borrowState},</if>
            <if test="bidUserId != null and bidUserId != ''">bid_user_id = #{bidUserId},</if>
            <if test="bidUsername != null and bidUsername != ''">bid_username = #{bidUsername},</if>
            <if test="bidTime != null ">bid_time = #{bidTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
    </update>

    <select id="getBidByBidUserId" resultType="com.baby.pojo.Bid">
        SELECT
        id as id,
        borrow_id as borrowId,
        borrow_title as borrowTitle,
        bid_amount as bidAmount,
        bid_interest as bidInterest,
        year_rate as yearRate,
        borrow_state as borrowState,
        bid_user_id as bidUserId,
        bid_username as bidUsername,
        bid_time as bidTime,
        create_time as createTime
        FROM t_bid
        <trim prefix="where" prefixOverrides="and | or">
            <if test="borrowId!=null and borrowId!=''">
                and borrow_id=#{borrowId}
            </if>
            <if test="bidUserId!=null and bidUserId!=''">
                and bid_user_id=#{bidUserId}
            </if>
        </trim>
    </select>
</mapper>