<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.dao.borrow.BorrowMapper">
        <select id="getBorrowList" resultType="com.baby.pojo.Borrow" parameterType="java.util.Map">
              SELECT
              id as id,
              borrow_user_id as borrowUserId,
              borrow_username as borrowUsername,
              title as title,
              description as description,
              repayment_type as repaymentType,
              borrow_type as borrowType,
              borrow_state as borrowState,
              borrow_amount as borrowAmount,
              year_rate as yearRate,
              repayment_month as repaymentMonth,
              bid_num as bid_num,
              total_interest as totalInterest,
              current_bid_amount as currentBidAmount,
              current_bid_interest as currentBidInterest,
              bid_deadline as bidDeadline,
              bid_days as bidDays,
              apply_time as applyTime,
              publish_time as publishTime,
              create_time as createTime
              FROM t_borrow
            <trim prefix="where" prefixOverrides="and | or">
                <if test="borrowStates!=null and borrowStates!=''">
                    <if test="borrowStates=='20,30,40,50'">
                        borrow_state IN (20,30,40,50)
                    </if>
                    <if test="borrowStates=='20,30,40'">
                        borrow_state IN (20,30,40)
                    </if>
                    <if test="borrowStates=='20,30'">
                        borrow_state IN (20,30)
                    </if>
                    <if test="borrowStates=='40'">
                        borrow_state IN (40)
                    </if>
                    <if test="borrowStates=='50'">
                        borrow_state IN (50)
                    </if>
                </if>
            </trim>
            order by create_time DESC
            LIMIT  #{From},#{pageSize}
        </select>

    <!--查询标的数量-->
    <select id="getCountBorrow" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_borrow
    </select>

    <!--根据Id查询借款信息-->
    <select id="getBorrowId" resultType="com.baby.pojo.Borrow">
              SELECT
              id as id,
              borrow_user_id as borrowUserId,
              borrow_username as borrowUsername,
              title as title,
              description as description,
              repayment_type as repaymentType,
              borrow_type as borrowType,
              borrow_state as borrowState,
              borrow_amount as borrowAmount,
              year_rate as yearRate,
              repayment_month as repaymentMonth,
              bid_num as bidNum,
              total_interest as totalInterest,
              current_bid_amount as currentBidAmount,
              current_bid_interest as currentBidInterest,
              bid_deadline as bidDeadline,
              bid_days as bidDays,
              apply_time as applyTime,
              publish_time as publishTime,
              create_time as createTime
              FROM t_borrow
              <trim prefix="where" prefixOverrides="and | or">
                <if test="id!=null and id!=''">
                    id=#{id}
                </if>
              </trim>
    </select>
</mapper>