<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.dao.borrow.BorrowMapper">
        <select id="getBorrowList" resultType="com.baby.pojo.Borrow" parameterType="java.util.Map">
              SELECT
              id as id,
              borrow_user_id as borrowUserId,
              borrow_username as borrowUsername,
              title as title,
              description as description,
              repayment_type as repaymentType,
              borrow_type as borrowType,
              borrow_state as borrowState,
              borrow_amount as borrowAmount,
              year_rate as yearRate,
              repayment_month as repaymentMonth,
              bid_num as bid_num,
              total_interest as totalInterest,
              current_bid_amount as currentBidAmount,
              current_bid_interest as currentBidInterest,
              bid_deadline as bidDeadline,
              bid_days as bidDays,
              apply_time as applyTime,
              publish_time as publishTime,
              create_time as createTime
              FROM t_borrow
            <trim prefix="where" prefixOverrides="and | or">
                <if test="borrowStates!=null and borrowStates!=''">
                    <if test="borrowStates=='20,30,40,50'">
                        borrow_state IN (20,30,40,50)
                    </if>
                    <if test="borrowStates=='20,30,40'">
                        borrow_state IN (20,30,40)
                    </if>
                    <if test="borrowStates=='20,30'">
                        borrow_state IN (20,30)
                    </if>
                    <if test="borrowStates=='40'">
                        borrow_state IN (40)
                    </if>
                    <if test="borrowStates=='50'">
                        borrow_state IN (50)
                    </if>
                </if>
            </trim>
            order by create_time DESC
            LIMIT  #{From},#{pageSize}
        </select>

    <!--查询标的数量-->
    <select id="getCountBorrow" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_borrow
    </select>

    <!--根据Id查询借款信息-->
    <select id="getBorrowId" resultType="com.baby.pojo.Borrow">
              SELECT
              id as id,
              borrow_user_id as borrowUserId,
              borrow_username as borrowUsername,
              title as title,
              description as description,
              repayment_type as repaymentType,
              borrow_type as borrowType,
              borrow_state as borrowState,
              borrow_amount as borrowAmount,
              year_rate as yearRate,
              repayment_month as repaymentMonth,
              bid_num as bidNum,
              total_interest as totalInterest,
              current_bid_amount as currentBidAmount,
              current_bid_interest as currentBidInterest,
              bid_deadline as bidDeadline,
              bid_days as bidDays,
              apply_time as applyTime,
              publish_time as publishTime,
              create_time as createTime
              FROM t_borrow
              <trim prefix="where" prefixOverrides="and | or">
                <if test="id!=null and id!=''">
                    id=#{id}
                </if>
              </trim>
    </select>
    
    <insert id="insertBorrow" parameterType="com.baby.pojo.Borrow">
        INSERT INTO t_borrow(id, borrow_user_id, borrow_username, title, description, repayment_type, borrow_type, borrow_state, borrow_amount,year_rate,
         repayment_month, bid_num, total_interest, current_bid_amount, current_bid_interest, bid_deadline, bid_days, apply_time, publish_time, create_time)
         VALUES(#{id},#{borrowUserId},#{borrowUsername},#{title},#{description},#{repaymentType},#{borrowType},#{borrowState},#{borrowAmount},#{yearRate},
         #{repaymentMonth},#{bidNum},#{totalInterest},#{currentBidAmount},#{currentBidInterest},#{bidDeadline},#{bidDays},#{applyTime},#{publishTime},#{createTime})
    </insert>

    <update id="updateBorrow" parameterType="com.baby.pojo.Borrow">
        UPDATE t_borrow
        <trim prefix="SET" suffixOverrides="," suffix=" WHERE id = #{id}">
            <if test="borrowUserId != null and borrowUserId != ''">borrow_user_id = #{borrowUserId},</if>
            <if test="borrowUsername != null and borrowUsername != ''">borrow_username = #{borrowUsername},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="repaymentType != null and repaymentType != ''">repayment_type = #{repaymentType},</if>
            <if test="borrowType != null and borrowType != ''">borrow_type = #{borrowType},</if>
            <if test="borrowState != null and borrowState != ''">borrow_state = #{borrowState},</if>
            <if test="borrowAmount != null and borrowAmount != ''">borrow_amount = #{borrowAmount},</if>
            <if test="yearRate != null and yearRate != ''">year_rate = #{yearRate},</if>
            <if test="repaymentMonth != null and repaymentMonth != ''">repayment_month = #{repaymentMonth},</if>
            <if test="bidNum != null and bidNum != ''">bid_num = #{bidNum},</if>
            <if test="totalInterest != null and totalInterest != ''">total_interest = #{totalInterest},</if>
            <if test="currentBidAmount != null and currentBidAmount != ''">current_bid_amount = #{currentBidAmount},</if>
            <if test="currentBidInterest != null and currentBidInterest != ''">current_bid_interest = #{currentBidInterest},</if>
            <if test="bidDeadline != null and bidDeadline != ''">bid_deadline = #{bidDeadline},</if>
            <if test="bidDays != null and bidDays != ''">bid_days = #{bidDays},</if>
            <if test="applyTime != null and applyTime != ''">apply_time = #{applyTime},</if>
            <if test="publishTime != null and publishTime != ''">publish_time = #{publishTime},</if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
        </trim>
    </update>

</mapper>