<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baby.dao.system.SystemMapper">
    <!--DictionaryItem映射-->
    <resultMap id="DictionaryItemMap" type="com.baby.pojo.SystemDictionaryItem">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="value" column="value"/>
        <result property="orderNo" column="order_no"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <!--Recharge映射-->
    <resultMap id="RechargeMap" type="com.baby.pojo.Recharge">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="bankCardId" column="bank_card_id"/>
        <result property="tradeNo" column="trade_no"/>
        <result property="amount" column="amount"/>
        <result property="rechargeTime" column="recharge_time"/>
        <result property="state" column="state"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <!--LoginLog映射-->
    <resultMap id="LoginLogMap" type="com.baby.pojo.LoginLog">
        <id property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="loginTime" column="login_time"/>
        <result property="username" column="username"/>
        <result property="accountType" column="account_type"/>
        <result property="loginResult" column="login_result"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <!--SystemDictionary映射-->
    <resultMap id="DictionaryMap" type="com.baby.pojo.SystemDictionary">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <!--数据字典获取-->
    <select id="selectDictionaryItem" resultMap="DictionaryItemMap" parameterType="java.util.Map">
        SELECT id,parent_id,value,order_no,create_time FROM t_system_dictionary_item
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="keyword != null">
                AND `value` LIKE "%"#{keyword}"%"
            </if>
            <if test="current != null and size != null">
                LIMIT #{current},#{size}
            </if>
        </trim>
    </select>
    <!--账户充值-->
    <insert id="insertRecharge" parameterType="com.baby.pojo.Recharge">
        INSERT INTO t_recharge(id,user_id,username,bank_card_id,trade_no,amount,recharge_time,state,remark,create_time)
        VALUES(#{id},#{userId},#{username},#{bankCardId},#{tradeNo},#{amount},#{rechargeTime},#{state},#{remark},#{createTime})
    </insert>
    <!--充值记录获取-->
    <select id="selectRecharge" resultMap="RechargeMap" parameterType="java.util.Map">
        SELECT id,user_id,username,bank_card_id,trade_no,amount,recharge_time,state,remark FROM t_recharge
        <trim prefix="WHERE " suffixOverrides="AND">
            <if test="beginDate != null and endDate != null">
                recharge_time BETWEEN #{beginDate} AND #{endDate} AND
            </if>
            <if test="state != null">
                state = #{state} AND
            </if>
            <if test="userId != null">
                user_id = #{userId} AND
            </if>
        </trim>
        LIMIT #{current},#{size}
    </select>
    <!--充值记录数量获取-->
    <select id="selectRechargeCount" parameterType="java.util.Map" resultType="Integer">
        SELECT COUNT(1) FROM t_recharge
        <trim prefix="WHERE " suffixOverrides="AND">
            <if test="beginDate != null">
                recharge_time BETWEEN #{beginDate} AND
            </if>
            <if test="endDate != null">
                #{endDate} AND
            </if>
            <if test="state != null">
                state = #{state} AND
            </if>
            <if test="userId != null">
                user_id = #{userId} AND
            </if>
        </trim>
    </select>
    <!--登录记录获取-->
    <select id="selectLoginLog" resultMap="LoginLogMap" parameterType="java.util.Map">
        SELECT ip,login_time,username,account_type,login_result,create_time FROM t_login_log
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="beginDate != null and endDate != null">
                login_time BETWEEN #{beginDate} AND #{endDate} AND
            </if>
            <if test="loginResult != null">
                login_result = #{loginResult} AND
            </if>
            <if test="username != null">
                username = #{username} AND
            </if>
        </trim>
        LIMIT #{current},#{size}
    </select>
    <!--登录记录数量获取-->
    <select id="selectLoginLogCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_login_log
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="beginDate != null and endDate != null">
                login_time BETWEEN #{beginDate} AND #{endDate} AND
            </if>
            <if test="loginResult != null">
                login_result = #{loginResult} AND
            </if>
            <if test="username != null">
                username = #{username} AND
            </if>
        </trim>
    </select>
    <!--数据字典数量获取-->
    <select id="selectDictionaryItemcount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_system_dictionary_item
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="parentId != null">
               AND parent_id = #{parentId}
            </if>
            <if test="keyword != null">
               AND `value` LIKE "%"#{keyword}"%"
            </if>
        </trim>
    </select>
    <!--新增数据字典-->
    <insert id="insertDictionaryItem" parameterType="com.baby.pojo.SystemDictionaryItem">
        INSERT INTO t_system_dictionary_item(parent_id,`value`,order_no,create_time) VALUES(#{parentId},#{value},#{orderNo},#{createTime})
    </insert>
    <!--修改数据字典-->
    <update id="updatedictionaryItem" parameterType="com.baby.pojo.SystemDictionaryItem">
        UPDATE t_system_dictionary_item SET `value`=#{value},order_no=#{orderNo},create_time =#{createTime}
        WHERE id = #{id}
    </update>
    <!--数据字典项数量-->
    <select id="selectdictionarycount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_system_dictionary
        <if test="name != null">
          WHERE `name` LIKE  "%"#{name}"%"
        </if>
    </select>
    <!--数据字典项获取-->
    <select id="selectDictionary" parameterType="java.util.Map" resultMap="DictionaryMap">
        SELECT id,`code`,`name`,create_time FROM t_system_dictionary
        <if test="name != null">
            WHERE `name` LIKE  "%"#{name}"%"
        </if>
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>
    <!--添加数据字典项-->
    <insert id="insertdictionary" parameterType="com.baby.pojo.SystemDictionary">
        INSERT INTO t_system_dictionary(`code`,`name`,create_time) VALUES (#{code},#{name},#{createTime})
    </insert>
    <!--修改数据字典项-->
    <update id="updatedictionary" parameterType="com.baby.pojo.SystemDictionary">
        UPDATE t_system_dictionary SET `name` = #{name},create_time=#{createTime} WHERE id = #{id}
    </update>
    <update id="updaterecharge" parameterType="java.util.Map">
        UPDATE t_recharge SET state = #{state} WHERE id = #{id}
    </update>
</mapper>